{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}


<div class="row text-center align-middle" style="min-height: 600px; align-content: center;">
    <div class="col-12">
        <h2>Qual Opção de Voto Você Deseja Ouvir Sobre?</h2><br><br><br>
    </div>

    <div class="col-4">
       <a href="/votofeminino"> <span style="background-color: #fe0000;" class="circulo"> 01 </span></a><br><br><br><br><br><br>
    </div>

    <div class="col-4">
          <a href="/votodemenores"><span style="background-color: #ffca40;" class="circulo"> 02 </span></a><br><br><br><br><br><br>
    </div>

    <div class="col-4">
        <a href="/votodeanalfabetos"> <span style="background-color: #ff8500;" class="circulo"> 03 </span></a><br><br><br><br><br><br>
    </div>

    <div class="col-4">
        <a href="/votodenegros"><span style="background-color: #009bf7;" class="circulo"> 04 </span></a>
    </div>
    <div class="col-4">
         <a href="/votobranconulo"> <span style="background-color: #4fc33c;" class="circulo"> 05 </span></a>
    </div>
    <div class="col-4">
        <a href="/votodecabresto"> <span style="background-color: #e50069;" class="circulo"> 06 </span></a>
    </div>
  </div>
{% endblock content %}